<app-top-bar></app-top-bar>


<div class="container">
    <h2 style="margin-top: 4%;">Bem Vindo, [nome]</h2>
    <div class="row">
        <div class="col">
            <div class="card" (click)="ocorrencia()">

                <div class="card_title" >
                  <p>Nova Consulta</p>
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1" (click)="ocorrencia()">
                <div class="card_title title-white">
                  <p>Entrega de Atestado</p>
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1" (click)="ocorrenciahistorico()">
                <div class="card_title title-white">
                  <p>Histórico</p>
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1" >
                <div class="card_title title-white">
                  <p>De bem com a vida</p>
                </div>
              </div>

        </div>

    </div>

</div>