<app-top-bar></app-top-bar>


<div class="container">
    <h2 style="margin-top: 4%;">Bem Vindo, [nome]</h2>
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card_title" >
                  <p>Nova Consulta</p>
                  <img class="image-card" src="../../assets/icons/hospital.svg" alt="">
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1" (click)="ocorrencia()">
                <div class="card_title title-white">
                  <p>Entrega de Atestado</p>
                  <img class="image-card" src="../../assets/icons/document-edit.svg" alt="">
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1" (click)="ocorrenciahistorico()">
                <div class="card_title title-white">
                  <p>Histórico</p>
                  <img class="image-card" src="../../assets/icons/history.svg" alt="">
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1" >
                <div class="card_title title-white">
                  <p>De Bem com a Vida</p>
                  <img class="image-card" src="../../assets/icons/health.svg" alt="">
                </div>
              </div>

        </div>

    </div>

</div>
