
<app-top-bar></app-top-bar>

  <!-- <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>
  <br />
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [hourSegments]="2"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      
    >
    </mwl-calendar-week-view>
     -->
     <ng-container *ngIf="mostrarNgContainer">   
      <bryntum-project-model
      #project
      [events] = "eventos"
      [resources] = "resources"
      (click)="alertNatela($event)"
      ></bryntum-project-model>
      <ng-container *ngIf="calendarConfig.date">
          <bryntum-calendar
          #calendar
          [features]="calendar.features"
          [eventEditFeature]="false"
          [dragFeature] = "false"
          [date] = "calendarConfig.date"
          [project] = "project"
          ></bryntum-calendar>
      </ng-container>
     </ng-container>
