
<app-top-bar></app-top-bar>

<ng-container *ngIf="!mostrarNgContainer"> 
  <table class="table b-table text-center table-bordered ">
    <thead>
      <tr>
        <th>Data e Hora</th>
        <th>Paciente</th>
        <th>Desmarcar</th>
      </tr>
    </thead>
  </table>
</ng-container>

     <ng-container *ngIf="mostrarNgContainer">   
      <bryntum-project-model
      #project
      [events] = "eventos"
      [resources] = "resources"
      (click)="alertNatela($event)"
      ></bryntum-project-model>
      <ng-container *ngIf="calendarConfig.date">
          <bryntum-calendar
          #calendar
          [eventEditFeature]="false"
          [dragFeature] = "false"
          [date] = "calendarConfig.date"
          [project] = "project"
          ></bryntum-calendar>
      </ng-container>
     </ng-container>
