<app-top-bar></app-top-bar>
<div class="login">
   <form>

        <h2>Primeiro Acesso</h2>
        <p>Troque sua senha para continuar:</p>
       <div class="loginInput">
           <input type="password" id="password" placeholder="Senha" />
       </div>

       <div class="passwordInput">
            <input type="password" id="passwordNew" placeholder="Confirmar Nova Senha" />
        </div>
        <div class="buttonsInput">
            <button type="button" class="btn btn-primary" (click)="editSenha()">Trocar</button>
        </div>
   </form>
</div>