<app-top-bar></app-top-bar>


<div class="container">
    <h2 style="margin-top: 4%;">Bem Vindo, [nome]</h2>
    <div class="row">
        <div class="col">
            <div class="card 1"  (click)="agenda()">
                <div class="card_title" >
                  <p>Agenda</p>
                  <img class="image-card" src="../../assets/icons/calendar-date-single.svg" alt="">
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1" (click)="consultas()" >
                <div class="card_title title-white">
                  <p>Consultas Pendentes</p>
                  <img class="image-card" src="../../assets/icons/health-warning.svg" alt="">
                </div>
              </div>

        </div>
        <div class="col">
            <div class="card 1"  (click)="ocorrenciahistorico()">
                <div class="card_title title-white">
                  <p>Histórico</p>
                  <img class="image-card" src="../../assets/icons/history.svg" alt="">
                </div>
              </div>

        </div>
        <div class="col">
          <div class="card 1" >
              <div class="card_title title-white">
                <p>Perfil</p>
                <img class="image-card" src="../../assets/icons/my-brand-frame.svg" alt="">
              </div>
            </div>

      </div>

    </div>

</div>