<app-top-bar></app-top-bar>

<div class="container-profile">
    <label  class="name">Nome:  </label>
    <label  class="email">Email: </label>
    <label  class="phone">Telefone:  </label>
    <label  class="birth">Data de nascimento: </label>
    <label  class="document">CPF: </label>
    <label  class="document">CRM:  </label>
    <label  class="document">Especialidade: </label>
</div>
<div class="photo"></div>
<div class="button-bar">
    <!-- <div  class="button-list"><button >Alterar Perfil</button></div>
    <div  class="button-list"><button [routerLink]="['/client/purchasedetails']">Calendário</button></div> -->
    <div class="button-list"><button [routerLink]="['/login']">Logout</button></div>
</div>